* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.container-timeline {
  height: 100%;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 38px;
  color: #fff;
  font-weight: 300;
}

.timeline {
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.timeline-nav__item {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 0.5;
  background: transparent;
  color: #343a40;
  margin: 15px 25px !important;
  position: relative;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}
.timeline-nav__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #343a40;
  transition: .2s;
}
.timeline-nav__item.slick-current {
  color: #1f682d;
  opacity: 1;
      font-size: 20px;
}
.timeline-nav__item.slick-current::before {
  background-color: #1f682d;

}
.timeline-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 60px auto;
}
@media (max-width: 500px) {
  .timeline-wrapper {
    height: 1000px;
    max-height: 900px;
  }
}
.timeline-slider {
  height: 100%;
}
.timeline .slick-list {
  height: 100%;
  
}
@media (min-width: 1080px) {
  .timeline .slick-list {
    padding: 0 180px !important;
  }
}
.timeline .slick-track {
  height: 100%;
}
.timeline-slide {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  outline: none;
  background-size: auto 400px, cover;
  background-position: top;
  margin: 0 24px;
  width: 80%;
  z-index: 1;
  padding-top: 100px;
}

.timeline-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.timeline-slide__content {
  z-index: 5;
  position: absolute;
  top: 220px;
  background: #ffffff;
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  padding: 40px;
  opacity: 0;
  transition: opacity 1s;
  margin-top: 10%;
}
@media (max-width: 500px) {
  .timeline-slide__content {
    width: 100%;
  }
}
.timeline-year {
  z-index: 5;
  font-size: 35px;
  color: #ffffff;
  background: #1f682d;
  padding: 15px 26px;
  position: absolute;
  right: 0;
  opacity: 0.2;
  margin-right: 15%;
}
@media only screen and (max-width: 1300px) {
  .timeline-year {
    margin-right:15%;
  }
}

@media only screen and (max-width: 1200px) {
  .timeline-year {
    margin-right:11%;
  }
}

@media only screen and (max-width: 1100px) {
  .timeline-year {
    margin-right:8%;
  }
}

@media only screen and (max-width: 1000px) {
  .timeline-year {
    margin-right:7%;
  }
}

@media only screen and (max-width: 900px) {
  .timeline-year {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .timeline-year {
    margin-right: 3%;
  }
}


@media only screen and (max-width: 600px) {
  .timeline-year {
    margin-right: 3%;
  }
}
@media only screen and (max-width: 500px) {
  .timeline-year {
    margin-right: none;
  }
}

.timeline-title {
  color: #1f682d;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
}
.timeline-text {
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}
.timeline .slick-current:after {
  background-color: rgba(0, 52, 113, 0);
}
.timeline .slick-current .timeline-year {
  opacity: 1;
}
.timeline .slick-current .timeline-slide__content {
  opacity: 1;
}

.card-img-top{
  width: 250px;
}